
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    margin-left: 80px;
    margin-top: 50px;
    background-color: hsl(0, 0%, 11%);
}

main {
    margin-top: -70px;
}

p {
    padding-left: 25px;
    padding-right: 25px;
    text-align: justify;
}

body::-webkit-scrollbar {
    width: 5px;
    background: hsl(0, 0%, 11%);
}

body::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 2px;
}

.title {
    padding-top: 20px;
    font-size: 40px;
}

.line {
    background-color: lightcoral;
    width: 50px;
    height: 5px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.button {
    font-size: 20px;
	padding: 10px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
	text-decoration: none;
	border-radius: 15px;
	transition: all 500ms ease;
    font-family: Montserrat-Light;
}